
/* universal selector */
*{
    padding: 0px;
    margin: 0px;
    
}
html{
    background-color: antiquewhite;
    height: 2500px;
    border: 10px solid red;
    margin : 70px;
}
body{
    background-color: rgb(229, 139, 23);
    height: 500px;
    border: 10px solid rgb(0, 55, 255);
    margin : 50px;
   
    padding-right: 150px;

    padding: 10px 20px 20px 10px;  /* clock wise  */
   /*  padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 10px; */

    margin: 20px 10px 30px 10px;

    
}

