*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    background-color: brown;
}

.grandpa{
    border: 3px solid red;
    height: 1500px;
    margin: 50px;
   
    background-color: rgb(187, 153, 187);
}

.parent{
    border: 3px solid blue;
    margin: 20px;
    background-color: aqua;
    position: relative;
    top: 50px;
    
}

.child{
    border: 3px solid green;
    width: 300px;
    height: 200px;
    display: inline-block;
    
}


/* relative - relative to it's actual or normal position */

/* position context */

/* absolute - here the position context depends if u have any ancestors with the position
property then the element will be positioned relative to the closest ancestor

*/

/* fixed - viewport is the position context */


/* sticky - relative and fixed */


#child2{
    background-color: blueviolet;
    position: sticky;
    top: 150px;
    right: 130px;
}

/* #child4{
    background-color: rgb(43, 116, 226);
    position: relative;
    top: 60px;
    left: 40px;

} */